:root {
  --game-tilt-deg: 60deg;
  --game-tilt-origin-z: -221.5px;
}

.game-tile {
  width: 33.33333333%;
  height: 100%;
  background-color: #eee;
  border: 4px solid black;
  box-sizing: border-box;
  display: inline-block;
}

.game-row {
  width: 100%;
  height: 33.33333333%;
  display: block;
}


.game-face {
  width: 256px;
  height: 256px;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transform-origin: 50% 50% var(--game-tilt-origin-z);
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
  border: 4px solid black;
  box-sizing: border-box;

}

.tilt-animation {
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  z-index: 9999;
}

.rotate-animation {
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

}

.tilt-none  { 
  transform: translateX(-50%) translateY( -50%) rotateX(  0deg) rotateY(0deg);

}

.tilt-up {
  @keyframes anim-tilt-up-rotate-cw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(-90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);   }
  }

  @keyframes anim-tilt-up-rotate-ccw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);  }
  }

  &.anim-rotate-cw { animation-name: anim-tilt-up-rotate-cw; }
  &.anim-rotate-ccw { animation-name: anim-tilt-up-rotate-ccw; }

  transform: translateX(-50%) translateY( -50%) rotateX(calc(-1 * var(--game-tilt-deg)));
}

.tilt-down {
  @keyframes anim-tilt-down-rotate-cw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateX(var(--game-tilt-deg)) rotateZ(-90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateX(var(--game-tilt-deg)) rotateZ(0deg);   }
  }

  @keyframes anim-tilt-down-rotate-ccw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateX(var(--game-tilt-deg)) rotateZ(90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateX(var(--game-tilt-deg)) rotateZ(0deg);  }
  }

  &.anim-rotate-cw { animation-name: anim-tilt-down-rotate-cw; }
  &.anim-rotate-ccw { animation-name: anim-tilt-down-rotate-ccw; }

  transform: translateX(-50%) translateY( -50%) rotateX( var(--game-tilt-deg));
}

.tilt-left  {
  @keyframes anim-tilt-left-rotate-cw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(-90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);   }
  }

  @keyframes anim-tilt-left-rotate-ccw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);  }
  }

  &.anim-rotate-cw { animation-name: anim-tilt-left-rotate-cw; }
  &.anim-rotate-ccw { animation-name: anim-tilt-left-rotate-ccw; }

  transform: translateX(-50%) translateY( -50%) rotateY(calc(-1 * var(--game-tilt-deg)));
}

.tilt-right {
  @keyframes anim-tilt-right-rotate-cw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateY(var(--game-tilt-deg)) rotateZ(-90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateY(var(--game-tilt-deg)) rotateZ(0deg);   }
  }

  @keyframes anim-tilt-right-rotate-ccw {
    0%   { transform: translateX(-50%) translateY( -50%) rotateY(var(--game-tilt-deg)) rotateZ(90deg); }
    100% { transform: translateX(-50%) translateY( -50%) rotateY(var(--game-tilt-deg)) rotateZ(0deg);  }
  }

  &.anim-rotate-cw { animation-name: anim-tilt-right-rotate-cw; }
  &.anim-rotate-ccw { animation-name: anim-tilt-right-rotate-ccw; }

  transform: translateX(-50%) translateY( -50%) rotateY(var(--game-tilt-deg));
}

.tilt-test2 { 
  transform: translateX( 50%) translateY(-150%) scale(70%);

}


.game-container {
  & > div {
    perspective: 1000px;
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body, #root, .App {
  height: 100%;
}