:root {
    --game-tilt-deg: 60deg;
    --game-tilt-origin-z: -221.5px;
    --game-anim-time: 0.15s;
}

.game-tile {
    width: 33.33333333%;
    height: 100%;
    background-color: #eee;
    border: 4px solid black;
    box-sizing: border-box;
    display: inline-block;
}

.game-row {
    width: 100%;
    height: 33.33333333%;
    display: block;
}

.game-face {
    width: 256px;
    height: 256px;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform-origin: 50% 50% var(--game-tilt-origin-z);
    animation-fill-mode: forwards;
    animation-duration: var(--game-anim-time);
    box-sizing: border-box;
}

.game-face-anim {
    z-index: 10 !important;
}

.tilt-up,
.tilt-down,
.tilt-left,
.tilt-right {
    z-index: 100;
}

.tilt-none {
    z-index: 1000;
}

.tilt-none {
    @keyframes anim-tilt-none-left {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg));
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }
    }

    @keyframes anim-tilt-none-right {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg)));
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }
    }

    @keyframes anim-tilt-none-up {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg)));
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }
    }

    @keyframes anim-tilt-none-down {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg));
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }
    }

    &.anim-left {
        animation-name: anim-tilt-none-left;
    }

    &.anim-right {
        animation-name: anim-tilt-none-right;
    }

    &.anim-up {
        animation-name: anim-tilt-none-up;
    }

    &.anim-down {
        animation-name: anim-tilt-none-down;
    }

    transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
}

.tilt-down {
    @keyframes anim-tilt-down-rotate-cw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(-90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);
        }
    }

    @keyframes anim-tilt-down-rotate-ccw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);
        }
    }

    // Tilt down from none
    @keyframes anim-tilt-down-down {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg)));
        }
    }

    // Tilt up from edge
    @keyframes anim-tilt-down-up {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(-90deg);
        }

        1000% {
            transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg)));
        }
    }

    &.anim-rotate-cw {
        animation-name: anim-tilt-down-rotate-cw;
    }

    &.anim-rotate-ccw {
        animation-name: anim-tilt-down-rotate-ccw;
    }

    &.anim-down {
        animation-name: anim-tilt-down-down;
    }

    &.anim-up {
        animation-name: anim-tilt-down-up;
        z-index: -9999 !important;
    }

    transform: translateX(-50%) translateY(-50%) rotateX(calc(-1 * var(--game-tilt-deg)));
}

.tilt-up {
    @keyframes anim-tilt-up-rotate-cw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg)) rotateZ(-90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg)) rotateZ(0deg);
        }
    }

    @keyframes anim-tilt-up-rotate-ccw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg)) rotateZ(90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg)) rotateZ(0deg);
        }
    }

    // Tilt up from none
    @keyframes anim-tilt-up-up {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg));
        }
    }

    // Tilt down from edge
    @keyframes anim-tilt-up-down {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg));
        }
    }

    &.anim-rotate-cw {
        animation-name: anim-tilt-up-rotate-cw;
    }

    &.anim-rotate-ccw {
        animation-name: anim-tilt-up-rotate-ccw;
    }

    &.anim-up {
        animation-name: anim-tilt-up-up;
    }

    &.anim-down {
        animation-name: anim-tilt-up-down;
        z-index: -9999 !important;
    }

    transform: translateX(-50%) translateY(-50%) rotateX(var(--game-tilt-deg));
}

.tilt-left {
    @keyframes anim-tilt-left-rotate-cw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(-90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);
        }
    }

    @keyframes anim-tilt-left-rotate-ccw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg))) rotateZ(0deg);
        }
    }

    // Tilt left from none
    @keyframes anim-tilt-left-left {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg)));
        }
    }

    // Tilt right from edge
    @keyframes anim-tilt-left-right {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(-90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg)));
        }
    }

    &.anim-rotate-cw {
        animation-name: anim-tilt-left-rotate-cw;
    }

    &.anim-rotate-ccw {
        animation-name: anim-tilt-left-rotate-ccw;
    }

    &.anim-left {
        animation-name: anim-tilt-left-left;
    }

    &.anim-right {
        animation-name: anim-tilt-left-right;
        z-index: -9999 !important;
    }

    transform: translateX(-50%) translateY(-50%) rotateY(calc(-1 * var(--game-tilt-deg)));
}

.tilt-right {
    @keyframes anim-tilt-right-rotate-cw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg)) rotateZ(-90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg)) rotateZ(0deg);
        }
    }

    @keyframes anim-tilt-right-rotate-ccw {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg)) rotateZ(90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg)) rotateZ(0deg);
        }
    }

    // Tilt right from none
    @keyframes anim-tilt-right-right {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg));
        }
    }

    // Tilt left from edge
    @keyframes anim-tilt-right-left {
        0% {
            transform: translateX(-50%) translateY(-50%) rotateY(90deg);
        }

        100% {
            transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg));
        }
    }

    &.anim-rotate-cw {
        animation-name: anim-tilt-right-rotate-cw;
    }

    &.anim-rotate-ccw {
        animation-name: anim-tilt-right-rotate-ccw;
    }

    &.anim-right {
        animation-name: anim-tilt-right-right;
    }

    &.anim-left {
        animation-name: anim-tilt-right-left;
        z-index: -9999 !important;
    }

    transform: translateX(-50%) translateY(-50%) rotateY(var(--game-tilt-deg));
}

.tilt-test2 {
    transform: translateX(50%) translateY(-150%) scale(70%);

}